# Project 5: Working with Pandas and SQL Databases (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 5 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Creating an SQLite Database

1. __Import__ sqlite3 (as sq3) and __create__ a new SQLite Database with the name __"movies.db"__.

In [1]:
import sqlite3 as sq3

In [2]:
con = sq3.connect("movies.db")

In [3]:
con

In [4]:
con.execute("Select * FROM sqlite_master").fetchall()

[]

In [5]:
con.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name").fetchall()

[]

In [6]:
con.close()

## Loading Data from DataFrames into an SQLite Database

2. __Load__ the json file __"some_movies.json"__ and __split__ the dataset into the following __four datasets__ (save each dataset in a Pandas DataFrame).

__Dataset #1 (Movies)__ with columns ["id", "title", "revenue", "budget", "belongs_to_collection_name", "release_date"]. <br>
Convert "release_date" to datetime and transform "budget" and "revenue" to Million USD before loading into the Database.

__Dataset #2 (Votes)__ with columns ["id", "vote_count", "vote_average"].

__Dataset #3 (Genres)__ with columns ["genre_id", "genre_name", "id"]. <br>

__Dataset #4 (Prod)__ with columns ["comp_id", "comp_logo_path", "comp_name", "comp_origin_country", "id" ]. <br>

In [7]:
import pandas as pd
import json
import sqlite3 as sq3

In [8]:
with open("some_movies.json") as f:
    data = json.load(f)

In [9]:
data

[{'adult': False,
  'backdrop_path': '/orjiB3oUIsyz60hoEqkiGpy5CeO.jpg',
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'budget': 356000000,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'homepage': 'https://www.marvel.com/movies/avengers-endgame',
  'id': 299534,
  'imdb_id': 'tt4154796',
  'original_language': 'en',
  'original_title': 'Avengers: Endgame',
  'overview': "After the devastating events of Avengers: Infinity War, the universe is in ruins due to the efforts of the Mad Titan, Thanos. With the help of remaining allies, the Avengers must assemble once more in order to undo Thanos' actions and restore order to the universe once and for all, no matter what consequences may be in store.",
  'popularity': 50.279,
  'poster_path': '/or06FN3Dka5tukK1e9sl16pB3iy.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2019-04-24',
  'revenue': 2797800564,
  'runtime': 181,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'ja', 'name': '日本語'},
   {'iso_639_1': 'xh', 'name': ''}],
  'status': 'Released',
  'tagline': 'Part of the journey is the end.',
  'title': 'Avengers: Endgame',
  'video': False,
  'vote_average': 8.3,
  'vote_count': 12607},
 {'adult': False,
  'backdrop_path': '/wcC7kCICL6x6zHUlUyNp9pWoqW1.jpg',
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  'budget': 237000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'http://www.avatarmovie.com/',
  'id': 19995,
  'imdb_id': 'tt0499549',
  'original_language': 'en',
  'original_title': 'Avatar',
  'overview': 'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.',
  'popularity': 40.5,
  'poster_path': '/btnl50ZDJDSCal2NLQIYWw0XxvH.jpg',
  'production_companies': [{'id': 444,
    'logo_path': '/42UPdZl6B2cFXgNUASR8hSt9mpS.png',
    'name': 'Dune Entertainment',
    'origin_country': 'US'},
   {'id': 574,
    'logo_path': '/iB6GjNVHs5hOqcEYt2rcjBqIjki.png',
    'name': 'Lightstorm Entertainment',
    'origin_country': 'US'},
   {'id': 25,
    'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
    'name': '20th Century Fox',
    'origin_country': 'US'},
   {'id': 290,
    'logo_path': '/Q8mw2AOQQc8Qg0uNwLWq86DVZv.png',
    'name': 'Ingenious Media',
    'origin_country': 'GB'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'},
   {'iso_3166_1': 'GB', 'name': 'United Kingdom'}],
  'release_date': '2009-12-10',
  'revenue': 2787965087,
  'runtime': 162,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'es', 'name': 'Español'}],
  'status': 'Released',
  'tagline': 'Enter the World of Pandora.',
  'title': 'Avatar',
  'video': False,
  'vote_average': 7.4,
  'vote_count': 21000},
 {'adult': False,
  'backdrop_path': '/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg',
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'budget': 245000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
  'id': 140607,
  'imdb_id': 'tt2488496',
  'original_language': 'en',
  'original_title': 'Star Wars: The Force Awakens',
  'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
  'popularity': 36.198,
  'poster_path': '/9rd002JS49RwDW944fF1wjU8iTV.jpg',
  'production_companies': [{'id': 1634,
    'logo_path': None,
    'name': 'Truenorth Productions',
    'origin_country': 'IS'},
   {'id': 1,
    'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
    'name': 'Lucasfilm',
    'origin_country': 'US'},
   {'id': 11461,
    'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
    'name': 'Bad Robot',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-12-15',
  'revenue': 2068223624,
  'runtime': 136,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'Every generation has a story.',
  'title': 'Star Wars: The Force Awakens',
  'video': False,
  'vote_average': 7.4,
  'vote_count': 14205},
 {'adult': False,
  'backdrop_path': '/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg',
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'budget': 300000000,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'https://www.marvel.com/movies/avengers-infinity-war',
  'id': 299536,
  'imdb_id': 'tt4154756',
  'original_language': 'en',
  'original_title': 'Avengers: Infinity War',
  'overview': 'As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.',
  'popularity': 78.331,
  'poster_path': '/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2018-04-25',
  'revenue': 2046239637,
  'runtime': 149,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'xh', 'name': ''}],
  'status': 'Released',
  'tagline': 'An entire universe. Once and for all.',
  'title': 'Avengers: Infinity War',
  'video': False,
  'vote_average': 8.3,
  'vote_count': 17718},
 {'adult': False,
  'backdrop_path': '/6VmFqApQRyZZzmiGOQq2C92jyvH.jpg',
  'belongs_to_collection': None,
  'budget': 200000000,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}],
  'homepage': '',
  'id': 597,
  'imdb_id': 'tt0120338',
  'original_language': 'en',
  'original_title': 'Titanic',
  'overview': "101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fiancé. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its death—on its first and last voyage—on April 15, 1912.",
  'popularity': 38.062,
  'poster_path': '/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg',
  'production_companies': [{'id': 4,
    'logo_path': '/fycMZt242LVjagMByZOLUGbCvv3.png',
    'name': 'Paramount',
    'origin_country': 'US'},
   {'id': 574,
    'logo_path': '/iB6GjNVHs5hOqcEYt2rcjBqIjki.png',
    'name': 'Lightstorm Entertainment',
    'origin_country': 'US'},
   {'id': 25,
    'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
    'name': '20th Century Fox',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1997-11-18',
  'revenue': 1845034188,
  'runtime': 194,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'fr', 'name': 'Français'},
   {'iso_639_1': 'de', 'name': 'Deutsch'},
   {'iso_639_1': 'sv', 'name': 'svenska'},
   {'iso_639_1': 'it', 'name': 'Italiano'},
   {'iso_639_1': 'ru', 'name': 'Pусский'}],
  'status': 'Released',
  'tagline': 'Nothing on Earth could come between them.',
  'title': 'Titanic',
  'video': False,
  'vote_average': 7.8,
  'vote_count': 16661},
 {'adult': False,
  'backdrop_path': '/9OywzJLgobAbSGfhMXligzTylko.jpg',
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/njFixYzIxX8jsn6KMSEtAzi4avi.jpg'},
  'budget': 150000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'homepage': 'http://www.jurassicworld.com/',
  'id': 135397,
  'imdb_id': 'tt0369610',
  'original_language': 'en',
  'original_title': 'Jurassic World',
  'overview': 'Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.',
  'popularity': 25.281,
  'poster_path': '/rhr4y79GpxQF9IsfJItRXVaoGs4.jpg',
  'production_companies': [{'id': 3341,
    'logo_path': '/dTG5dXE1kU2mpmL9BNnraffckLU.png',
    'name': 'Fuji Television Network',
    'origin_country': 'JP'},
   {'id': 56,
    'logo_path': '/cEaxANEisCqeEoRvODv2dO1I0iI.png',
    'name': 'Amblin Entertainment',
    'origin_country': 'US'},
   {'id': 923,
    'logo_path': '/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png',
    'name': 'Legendary Entertainment',
    'origin_country': 'US'},
   {'id': 33,
    'logo_path': '/8lvHyhjr8oUKOOy2dKXoALWKdp0.png',
    'name': 'Universal Pictures',
    'origin_country': 'US'},
   {'id': 1778,
    'logo_path': '/69xm6sF3JxugGVjfZfm1YY6d7EE.png',
    'name': 'Dentsu',
    'origin_country': 'JP'},
   {'id': 862,
    'logo_path': '/udTjbqPmcTbfrihMuLtLcizDEM1.png',
    'name': 'The Kennedy/Marshall Company',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-06-06',
  'revenue': 1671713208,
  'runtime': 124,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'The park is open.',
  'title': 'Jurassic World',
  'video': False,
  'vote_average': 6.6,
  'vote_count': 15399},
 {'adult': False,
  'backdrop_path': '/nRXO2SnOA75OsWhNhXstHB8ZmI3.jpg',
  'belongs_to_collection': None,
  'budget': 260000000,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'homepage': 'https://movies.disney.com/the-lion-king-2019',
  'id': 420818,
  'imdb_id': 'tt6105098',
  'original_language': 'en',
  'original_title': 'The Lion King',
  'overview': "Simba idolizes his father, King Mufasa, and takes to heart his own royal destiny. But not everyone in the kingdom celebrates the new cub's arrival. Scar, Mufasa's brother—and former heir to the throne—has plans of his own. The battle for Pride Rock is ravaged with betrayal, tragedy and drama, ultimately resulting in Simba's exile. With help from a curious pair of newfound friends, Simba will have to figure out how to grow up and take back what is rightfully his.",
  'popularity': 49.847,
  'poster_path': '/2bXbqYdUdNVa8VIWXVfclP2ICtT.jpg',
  'production_companies': [{'id': 2,
    'logo_path': '/wdrCwmRnLFJhEoH8GSfymY85KHT.png',
    'name': 'Walt Disney Pictures',
    'origin_country': 'US'},
   {'id': 7297,
    'logo_path': '/l29JYQVZbTcjZXoz4CUYFpKRmM3.png',
    'name': 'Fairview Entertainment',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2019-07-12',
  'revenue': 1656943394,
  'runtime': 118,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'The King has Returned.',
  'title': 'The Lion King',
  'video': False,
  'vote_average': 7.2,
  'vote_count': 5425},
 {'adult': False,
  'backdrop_path': '/v3A0T4fAz8xRugAkfUVkxGLd377.jpg',
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'budget': 220000000,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'homepage': 'http://marvel.com/avengers_movie/',
  'id': 24428,
  'imdb_id': 'tt0848228',
  'original_language': 'en',
  'original_title': 'The Avengers',
  'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
  'popularity': 69.459,
  'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'},
   {'id': 4,
    'logo_path': '/fycMZt242LVjagMByZOLUGbCvv3.png',
    'name': 'Paramount',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2012-04-25',
  'revenue': 1519557910,
  'runtime': 143,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'hi', 'name': 'हिन्दी'},
   {'iso_639_1': 'ru', 'name': 'Pусский'}],
  'status': 'Released',
  'tagline': 'Some assembly required.',
  'title': 'The Avengers',
  'video': False,
  'vote_average': 7.7,
  'vote_count': 22101},
 {'adult': False,
  'backdrop_path': '/7X6zOOEzXTQJkzDgBHVly1BgyYu.jpg',
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  'budget': 190000000,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'homepage': 'http://www.furious7.com/',
  'id': 168259,
  'imdb_id': 'tt2820852',
  'original_language': 'en',
  'original_title': 'Furious 7',
  'overview': 'Deckard Shaw seeks revenge against Dominic Toretto and his family for his comatose brother.',
  'popularity': 22.032,
  'poster_path': '/d9jZ2bKZw3ptTuxAyVHA6olPAVs.jpg',
  'production_companies': [{'id': 87857,
    'logo_path': None,
    'name': 'Abu Dhabi Film Commission',
    'origin_country': ''},
   {'id': 33,
    'logo_path': '/8lvHyhjr8oUKOOy2dKXoALWKdp0.png',
    'name': 'Universal Pictures',
    'origin_country': 'US'},
   {'id': 40890,
    'logo_path': None,
    'name': 'China Film Co.',
    'origin_country': 'CN'},
   {'id': 333,
    'logo_path': '/5xUJfzPZ8jWJUDzYtIeuPO4qPIa.png',
    'name': 'Original Film',
    'origin_country': 'US'},
   {'id': 3341,
    'logo_path': '/dTG5dXE1kU2mpmL9BNnraffckLU.png',
    'name': 'Fuji Television Network',
    'origin_country': 'JP'},
   {'id': 86352,
    'logo_path': None,
    'name': 'Québec Production Services Tax Credit',
    'origin_country': ''},
   {'id': 87858,
    'logo_path': None,
    'name': 'Colorado Office of Film, Television & Media',
    'origin_country': ''},
   {'id': 1778,
    'logo_path': '/69xm6sF3JxugGVjfZfm1YY6d7EE.png',
    'name': 'Dentsu',
    'origin_country': 'JP'},
   {'id': 2531,
    'logo_path': '/pC2iDCDCvV85vOBP7a5Ukxuc0Du.png',
    'name': 'Media Rights Capital',
    'origin_country': 'US'},
   {'id': 1225,
    'logo_path': None,
    'name': 'One Race',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-04-01',
  'revenue': 1515047671,
  'runtime': 137,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'Vengeance Hits Home',
  'title': 'Furious 7',
  'video': False,
  'vote_average': 7.3,
  'vote_count': 7359},
 {'adult': False,
  'backdrop_path': '/4zmNJNQkugbalqJLnKp0wnlp8i3.jpg',
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'budget': 250000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'http://marvel.com/movies/movie/193/avengers_age_of_ultron',
  'id': 99861,
  'imdb_id': 'tt2395427',
  'original_language': 'en',
  'original_title': 'Avengers: Age of Ultron',
  'overview': 'When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.',
  'popularity': 43.805,
  'poster_path': '/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-04-22',
  'revenue': 1405403694,
  'runtime': 141,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'A New Age Has Come.',
  'title': 'Avengers: Age of Ultron',
  'video': False,
  'vote_average': 7.3,
  'vote_count': 15548},
 {'adult': False,
  'backdrop_path': '/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg',
  'belongs_to_collection': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  'budget': 200000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'https://marvel.com/movies/movie/224/black_panther',
  'id': 284054,
  'imdb_id': 'tt1825683',
  'original_language': 'en',
  'original_title': 'Black Panther',
  'overview': "King T'Challa returns home from America to the reclusive, technologically advanced African nation of Wakanda to serve as his country's new leader. However, T'Challa soon finds that he is challenged for the throne by factions within his own country as well as without. Using powers reserved to Wakandan kings, T'Challa assumes the Black Panther mantel to join with girlfriend Nakia, the queen-mother, his princess-kid sister, members of the Dora Milaje (the Wakandan 'special forces') and an American secret agent, to prevent Wakanda from being dragged into a world war.",
  'popularity': 36.581,
  'poster_path': '/uxzzxijgPIY7slzFvMotPv8wjKA.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'},
   {'id': 2,
    'logo_path': '/wdrCwmRnLFJhEoH8GSfymY85KHT.png',
    'name': 'Walt Disney Pictures',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2018-02-13',
  'revenue': 1346739107,
  'runtime': 134,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'ko', 'name': '한국어/조선말'},
   {'iso_639_1': 'sw', 'name': 'Kiswahili'},
   {'iso_639_1': 'xh', 'name': ''}],
  'status': 'Released',

In [10]:
df = pd.json_normalize(data, sep = "_")

In [11]:
df

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,belongs_to_collection
0,False,/orjiB3oUIsyz60hoEqkiGpy5CeO.jpg,356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,...,Part of the journey is the end.,Avengers: Endgame,False,8.3,12607,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,False,/wcC7kCICL6x6zHUlUyNp9pWoqW1.jpg,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",...,Enter the World of Pandora.,Avatar,False,7.4,21000,87096.0,Avatar Collection,/nslJVsO58Etqkk17oXMuVK4gNOF.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,NaN
2,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,...,Every generation has a story.,Star Wars: The Force Awakens,False,7.4,14205,10.0,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
3,False,/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg,300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,As the Avengers and their allies have continue...,...,An entire universe. Once and for all.,Avengers: Infinity War,False,8.3,17718,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
4,False,/6VmFqApQRyZZzmiGOQq2C92jyvH.jpg,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,597,tt0120338,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,...,Nothing on Earth could come between them.,Titanic,False,7.8,16661,NaN,NaN,NaN,NaN,NaN
5,False,/9OywzJLgobAbSGfhMXligzTylko.jpg,150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com/,135397,tt0369610,en,Jurassic World,Twenty-two years after the events of Jurassic ...,...,The park is open.,Jurassic World,False,6.6,15399,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
6,False,/nRXO2SnOA75OsWhNhXstHB8ZmI3.jpg,260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,"Simba idolizes his father, King Mufasa, and ta...",...,The King has Returned.,The Lion King,False,7.2,5425,NaN,NaN,NaN,NaN,NaN
7,False,/v3A0T4fAz8xRugAkfUVkxGLd377.jpg,220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,...,Some assembly required.,The Avengers,False,7.7,22101,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,False,/7X6zOOEzXTQJkzDgBHVly1BgyYu.jpg,190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.furious7.com/,168259,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,...,Vengeance Hits Home,Furious 7,False,7.3,7359,9485.0,The Fast and the Furious Collection,/uv63yAGg1zETAs1XQsOQpava87l.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,NaN
9,False,/4zmNJNQkugbalqJLnKp0wnlp8i3.jpg,250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,...,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,15548,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
10,False,/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://marvel.com/movies/movie/224/black_panther,284054,tt1825683,en,Black Panther,King T'Challa returns home from America to the...,...,Long live the king.,Black Panther,False,7.4,14830,529892.0,Black Panther Collection,/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
11,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,en,Harry Potter and the Deathly Hallows: Part 2,"Harry, Ron and Hermione continue their quest t...",...,It all ends here.,Harry Potter and the Deathly Hallows: Part 2,False,8.1,13447,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
12,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,200000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,...,Darkness rises... and light to meet it,Star Wars: The Last Jedi,False,7.0,10304,10.0,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
13,False,/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg,150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",https://movies.disney.com/frozen-2,330457,tt4520988,en,Frozen II,"Elsa, Anna, Kristoff and Olaf head far into th...",...,The past is not what it seems.,Frozen II,False,7.2,3982,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/k21wXgC9AVnKoHW1lRPS0UUGCZ4.jpg,NaN
14,False,/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg,170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com,351286,tt4881806,en,Jurassic World: Fallen Kingdom,Three years after the demise of Jurassic World...,...,The park is gone,Jurassic World: Fallen Kingdom,False,6.5,7337,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
15,False,/fydUcbkqLyESCFa9U5XKqi8dIVj.jpg,150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://movies.disney.com/frozen,109445,tt2294629,en,Frozen,Young princess Anna of Arendelle dreams about ...,...,Only the act of true love will thaw a frozen h...,Frozen,False,7.3,11616,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/k21wXgC9AVnKoHW1lRPS0UUGCZ4.jpg,NaN
16,False,/7QshG75xKCmClghQDU1ta2BTaja.jpg,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,...,Be our guest.,Beauty and the Beast,False,6.9,12203,NaN,NaN,NaN,NaN,NaN
17,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,en,Incredibles 2,Elastigirl springs into action to save the day...,...,Back to work.,Incredibles 2,False,7.5,8147,468222.0,The Incredibles Collection,/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg,/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg,NaN

In [12]:
movies = df[["id", "title", "revenue", "budget", "belongs_to_collection_name", "release_date"]].copy()
movies

,id,title,revenue,budget,belongs_to_collection_name,release_date
0,299534,Avengers: Endgame,2797800564,356000000,The Avengers Collection,2019-04-24
1,19995,Avatar,2787965087,237000000,Avatar Collection,2009-12-10
2,140607,Star Wars: The Force Awakens,2068223624,245000000,Star Wars Collection,2015-12-15
3,299536,Avengers: Infinity War,2046239637,300000000,The Avengers Collection,2018-04-25
4,597,Titanic,1845034188,200000000,NaN,1997-11-18
5,135397,Jurassic World,1671713208,150000000,Jurassic Park Collection,2015-06-06
6,420818,The Lion King,1656943394,260000000,NaN,2019-07-12
7,24428,The Avengers,1519557910,220000000,The Avengers Collection,2012-04-25
8,168259,Furious 7,1515047671,190000000,The Fast and the Furious Collection,2015-04-01
9,99861,Avengers: Age of Ultron,1405403694,250000000,The Avengers Collection,2015-04-22
10,284054,Black Panther,1346739107,200000000,Black Panther Collection,2018-02-13
11,12445,Harry Potter and the Deathly Hallows: Part 2,1341511219,125000000,Harry Potter Collection,2011-07-07
12,181808,Star Wars: The Last Jedi,1332539889,200000000,Star Wars Collection,2017-12-13
13,330457,Frozen II,1330764959,150000000,Frozen Collection,2019-11-20
14,351286,Jurassic World: Fallen Kingdom,1303459585,170000000,Jurassic Park Collection,2018-06-06
15,109445,Frozen,1274219009,150000000,Frozen Collection,2013-11-27
16,321612,Beauty and the Beast,1263521126,160000000,NaN,2017-03-16
17,260513,Incredibles 2,1241891456,200000000,The Incredibles Collection,2018-06-14

In [13]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          18 non-null     int64
 1   title                       18 non-null     object
 2   revenue                     18 non-null     int64
 3   budget                      18 non-null     int64
 4   belongs_to_collection_name  15 non-null     object
 5   release_date                18 non-null     object
dtypes: int64(3), object(3)
memory usage: 992.0+ bytes

3. __Load__ the datasets __into the database__ (each dataset should be a separate table in the database). __Name__ the tables "Movies", "Votes", "Genres", "Prod".

In [15]:
movies.release_date = pd.to_datetime(df.release_date)

In [16]:
movies.revenue = df.revenue/1000000
movies.budget = df.budget/1000000

In [17]:
votes = df[["id", "vote_count", "vote_average"]].copy()

In [18]:
genres = pd.json_normalize(data=data, record_path="genres", meta="id", record_prefix="genre_")

In [19]:
genres

    genre_id       genre_name      id
0         12        Adventure  299534
1        878  Science Fiction  299534
2         28           Action  299534
3         28           Action   19995
4         12        Adventure   19995
5         14          Fantasy   19995
6        878  Science Fiction   19995
7         28           Action  140607
8         12        Adventure  140607
9        878  Science Fiction  140607
10        14          Fantasy  140607
11        12        Adventure  299536
12        28           Action  299536
13       878  Science Fiction  299536
14        18            Drama     597
15     10749          Romance     597
16        28           Action  135397
17        12        Adventure  135397
18       878  Science Fiction  135397
19        53         Thriller  135397
20        12        Adventure  420818
21     10751           Family  420818
22       878  Science Fiction   24428
23        28           Action   24428
24        12        Adventure   24428
25        28           Action  168259
26        53         Thriller  168259
27        28           Action   99861
28        12        Adventure   99861
29       878  Science Fiction   99861
30        28           Action  284054
31        12        Adventure  284054
32        14          Fantasy  284054
33       878  Science Fiction  284054
34        14          Fantasy   12445
35        12        Adventure   12445
36       878  Science Fiction  181808
37        28           Action  181808
38        12        Adventure  181808
39        16        Animation  330457
40     10751           Family  330457
41        12        Adventure  330457
42        28           Action  351286
43        12        Adventure  351286
44       878  Science Fiction  351286
45        16        Animation  109445
46        12        Adventure  109445
47     10751           Family  109445
48     10751           Family  321612
49        14          Fantasy  321612
50     10749          Romance  321612
51        28           Action  260513
52        12        Adventure  260513
53        16        Animation  260513
54     10751           Family  260513

In [20]:
prod = pd.json_normalize(data=data, record_path="production_companies", meta="id", record_prefix="comp_")

In [21]:
prod

,comp_id,comp_logo_path,comp_name,comp_origin_country,id
0,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US,299534
1,444,/42UPdZl6B2cFXgNUASR8hSt9mpS.png,Dune Entertainment,US,19995
2,574,/iB6GjNVHs5hOqcEYt2rcjBqIjki.png,Lightstorm Entertainment,US,19995
3,25,/qZCc1lty5FzX30aOCVRBLzaVmcp.png,20th Century Fox,US,19995
4,290,/Q8mw2AOQQc8Qg0uNwLWq86DVZv.png,Ingenious Media,GB,19995
5,1634,None,Truenorth Productions,IS,140607
6,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm,US,140607
7,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,140607
8,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US,299536
9,4,/fycMZt242LVjagMByZOLUGbCvv3.png,Paramount,US,597
10,574,/iB6GjNVHs5hOqcEYt2rcjBqIjki.png,Lightstorm Entertainment,US,597
11,25,/qZCc1lty5FzX30aOCVRBLzaVmcp.png,20th Century Fox,US,597
12,3341,/dTG5dXE1kU2mpmL9BNnraffckLU.png,Fuji Television Network,JP,135397
13,56,/cEaxANEisCqeEoRvODv2dO1I0iI.png,Amblin Entertainment,US,135397
14,923,/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png,Legendary Entertainment,US,135397
15,33,/8lvHyhjr8oUKOOy2dKXoALWKdp0.png,Universal Pictures,US,135397
16,1778,/69xm6sF3JxugGVjfZfm1YY6d7EE.png,Dentsu,JP,135397
17,862,/udTjbqPmcTbfrihMuLtLcizDEM1.png,The Kennedy/Marshall Company,US,135397
18,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,420818
19,7297,/l29JYQVZbTcjZXoz4CUYFpKRmM3.png,Fairview Entertainment,US,420818
20,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US,24428
21,4,/fycMZt242LVjagMByZOLUGbCvv3.png,Paramount,US,24428
22,87857,None,Abu Dhabi Film Commission,,168259
23,33,/8lvHyhjr8oUKOOy2dKXoALWKdp0.png,Universal Pictures,US,168259
24,40890,None,China Film Co.,CN,168259
25,333,/5xUJfzPZ8jWJUDzYtIeuPO4qPIa.png,Original Film,US,168259
26,3341,/dTG5dXE1kU2mpmL9BNnraffckLU.png,Fuji Television Network,JP,168259
27,86352,None,Québec Production Services Tax Credit,,168259
28,87858,None,"Colorado Office of Film, Television & Media",,168259
29,1778,/69xm6sF3JxugGVjfZfm1YY6d7EE.png,Dentsu,JP,168259
30,2531,/pC2iDCDCvV85vOBP7a5Ukxuc0Du.png,Media Rights Capital,US,168259
31,1225,None,One Race,US,168259
32,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US,99861
33,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US,284054
34,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,284054
35,174,/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png,Warner Bros. Pictures,US,12445
36,437,/nu20mtwbEIhUNnQ5NXVhHsNknZj.png,Heyday Films,GB,12445
37,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm,US,181808
38,11092,None,Ram Bergman Productions,US,181808
39,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,181808
40,6125,/tVPmo07IHhBs4HuilrcV0yujsZ9.png,Walt Disney Animation Studios,US,330457
41,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,330457
42,56,/cEaxANEisCqeEoRvODv2dO1I0iI.png,Amblin Entertainment,US,351286
43,923,/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png,Legendary Entertainment,US,351286
44,33,/8lvHyhjr8oUKOOy2dKXoALWKdp0.png,Universal Pictures,US,351286
45,10338,/el2ap6lvjcEDdbyJoB3oKiYgXu9.png,Perfect World Pictures,CN,351286
46,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,109445
47,6125,/tVPmo07IHhBs4HuilrcV0yujsZ9.png,Walt Disney Animation Studios,US,109445
48,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,321612
49,10227,/3YfRy3DBl4abcqkzGx4RVNz12yl.png,Mandeville Films,US,321612
50,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,260513
51,3,/1TjvGVDMYsj6JBxOAkUHpPEwLf7.png,Pixar,US,260513

In [22]:
con = sq3.connect("movies.db")

In [23]:
con

In [24]:
movies.to_sql("Movies", con, index=False)

18

In [25]:
votes.to_sql("Votes", con, index=False)

18

In [26]:
genres.to_sql("Genres", con, index=False)

55

In [27]:
prod.to_sql("Prod", con, index=False)

52

In [28]:
con.execute("Select * FROM sqlite_Master").fetchall()

[('table',
  'Table Name',
  'Table Name',
  2,
  'CREATE TABLE "Table Name" (\n"adult" INTEGER,\n  "backdrop_path" TEXT,\n  "budget" INTEGER,\n  "genres" TEXT,\n  "homepage" TEXT,\n  "id" INTEGER,\n  "imdb_id" TEXT,\n  "original_language" TEXT,\n  "original_title" TEXT,\n  "overview" TEXT,\n  "popularity" REAL,\n  "poster_path" TEXT,\n  "production_companies" TEXT,\n  "production_countries" TEXT,\n  "release_date" TEXT,\n  "revenue" INTEGER,\n  "runtime" INTEGER,\n  "spoken_languages" TEXT,\n  "status" TEXT,\n  "tagline" TEXT,\n  "title" TEXT,\n  "video" INTEGER,\n  "vote_average" REAL,\n  "vote_count" INTEGER,\n  "belongs_to_collection_id" REAL,\n  "belongs_to_collection_name" TEXT,\n  "belongs_to_collection_poster_path" TEXT,\n  "belongs_to_collection_backdrop_path" TEXT,\n  "belongs_to_collection" REAL\n)'),
 ('table',
  'Movies',
  'Movies',
  3,
  'CREATE TABLE "Movies" (\n"id" INTEGER,\n  "title" TEXT,\n  "revenue" REAL,\n  "budget" REAL,\n  "belongs_to_collection_name" TEXT,\n  "release_date" TIMESTAMP\n)'),
 ('table',
  'Votes',
  'Votes',
  4,
  'CREATE TABLE "Votes" (\n"id" INTEGER,\n  "vote_count" INTEGER,\n  "vote_average" REAL\n)'),
 ('table',
  'Genres',
  'Genres',
  5,
  'CREATE TABLE "Genres" (\n"genre_id" INTEGER,\n  "genre_name" TEXT,\n  "id" INTEGER\n)'),
 ('table',
  'Prod',
  'Prod',
  6,
  'CREATE TABLE "Prod" (\n"comp_id" INTEGER,\n  "comp_logo_path" TEXT,\n  "comp_name" TEXT,\n  "comp_origin_country" TEXT,\n  "id" INTEGER\n)')]

In [29]:
con.execute("SELECT name from sqlite_master WHERE type='table' ORDER BY name").fetchall()

[('Genres',), ('Movies',), ('Prod',), ('Table Name',), ('Votes',)]

In [30]:
con.close()

## Loading Data from SQLite Databases into DataFrames

4. __Load__ the full tables "Movies", "Votes", "Genres", "Prod" from "movies.db" into Pandas (four DataFrames). __Set__ "id" as Index.

##  Some Simple SQL Queries

5. __Perform__ the following simple __SQL Queries__ and __store__ the results in DataFrames:

__Load the full "Movies" Table__.

__Load the columns "id", "revenue" and "release_date" from "Movies".__

__Get the Total Revenue (sum) over all movies from "Movies".__

__Count the number of Movies in "Movies".__

__Count the number of Movies that do belong to a collection.__

__Get the average budget from "Movies"__.

## Some more SQL Queries

6. __Perform__ the following advanced __SQL Queries__ and __store__ the results in DataFrames:

__Load all columns for the movie with movie id 597__.

__Load all columns for all movies with a revenue greater than 2000 (MUSD).__

__Load all columns for all movies with a revenue greater than 1500 (MUSD) and a budget below 200 (MUSD).__

__Get the minimum budget from those movies with a revenue greater than 1250 (MUSD).__

__Get all unique collection Names from "Movies".__

__Load all movies (all columns) and sort by budget from high to low.__

__Load all movies (all columns) that do not belong to a collection.__

__Load all movies (all columns) that belong to a collection.__

__Load all movies (all columns) where "Avengers..." is in the title__.

## Join Queries

7. __Perform__ the following __SQL Join Queries__ and __store__ the results in DataFrames:

__Join "Movies" and "Votes"__ (all columns).

__Join "Movies" and "Votes" (only the columns "id", "title", "vote_average").__

__Join "Movies" and "Votes" (only the columns "id", "title", "vote_average") and return only those movies with vote_average > 8.__

__Join "Movies" and "Votes" (only the columns "id", "title", "vote_average") and return only those movies with vote_average > 8 and in ascending budget order__.

## Final Case Study

8. __Perform__ the following advanced __SQL Queries__ and __store__ the results in DataFrames:

__Get the Total Revenue (sum) for each Production Company.__

__Get all Production Companies for the movie "Titanic".__

__Get the Total Revenue (sum) for each Genre.__

__Get all Genres for the movie "Frozen II".__

# +++++++++ See some Hints below +++++++++++++

# ++++++++++++++++ Hints++++++++++++++++++++

__Hints for 1.__<br>
You can do this with sq3.connect("database_name.db")

__Hints for 2.__ <br>
You have to use pd.json_normalize(data = ..., record_path = ..., meta = ..., record_prefix = ... ) for Datasets #3 and #4

__Hints for 3.__<br>
You can do this with:

In [14]:
con = sq3.connect("movies.db")
df.to_sql("Table Name", con, index = False)

InterfaceError: Error binding parameter 3 - probably unsupported type.

__Hints for 4.__<br>
You can do this with:

In [ ]:
con = sq3.connect("movies.db")
pd.read_sql("SELECT * FROM Table Name", con, index_col = ...)

__Hints for 5., 6., 7., 8.__<br>
You can do this with:

In [ ]:
con = sq3.connect("movies.db")
df = pd.read_sql("insert the sql query here", con)